body{
    margin:0;
    padding:0;
}
.header {
    font-family: 'Courgette', cursive;
    height: 100px;
    /* background:red; */
}
.navigation {
    width: 1000px;
    /* background: green; */
    /* margin-top:0; 
    margin-bottom:0;
    margin-left:194px;
    margin-right:100px;  */
    /* margin: 0 100px 0 194px; */
    /* margin: 0 150px; */
    margin:0 auto;
    
}
.logo{
    float:left;
}
.logo >h1{
    font-family: 'Courgette', cursive;
}
.menu{
    margin:0 100px;
    float:left;
}
.menu > ul {
    list-style-type: none;
}
.menu > ul > li { 
    float:left;
    padding:15px 20px;
    cursor: pointer;
}
.social-media{
    float:left;
}
.social-media > ul {
    list-style-type:none;
}
.social-media >ul >li{
    float:left;
    padding: 15px;
}
.fab{
    cursor: pointer;
}
}
.slider{
    height: 500px;
    /* background:yellow; */
}
.slide {
    width:1000px;
    height:500px;
    /* background: blue; */
    margin: 0 auto;
    color:#fff;
    background-image :url(./44.png);
    background-repeat: no-repeat;
    opacity: 0.9;
}
.slide >h3{
    text-align: center; 
    margin:0;
    padding-top: 200px;
    font-family: 'Acme', sans-serif;
}
.slide >h2{
    font-family: 'Acme', sans-serif;
    text-align: center;
}
.slide >p{
    font-family: 'Satisfy', cursive;
    text-align: center; 
}

.card-section {
    height: 350px;
    /* background:violet */
}
.cards {
    width: 1000px;
    /* background:grey; */
    margin:15px auto;
}
.left-card {
    width: 300px;
    float:left;
}
.center-card{
    width: 300px;
    float:left;
    padding: 0 50px;
}
.right-card{
    width: 300px;
    float:left;
}
.left-card >button, .center-card >button, .right-card >button{
    display:block;
    margin:15px auto;
    border:0;
    background-color: brown;
    color: white;
    width:100px;
    height:30px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
}
.left-card >h3, .center-card >h3, .right-card >h3{
    text-align: center;
    font-family: 'Acme', sans-serif;
}
.left-card >p, .center-card >p, .right-card >p{
text-align: center;
font-family: 'Satisfy', cursive;
color: gray
}
.footer{
    height:100px;
    background:brown;
}
.footer >p {
    text-align: center;
    padding-top:45px;
    margin:0;
    color: #fff;
    font-family: 'Great Vibes', cursive;
}